// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import './css/style.css';
@import './css/var.css';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';



//

.action-box {
    .action-btn {
        font-size: 1rem;
    }
}

.side-panel {
    background-color: rgb(18, 140, 126);
    padding: 10px 16px;
    flex: none;
    height: 59px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    justify-content: flex-end;
    .header-avatar-wrapper {
        flex-grow: 1;        
    }
}