<template>
  <div class="action-box" style="height:50vh;padding:0px 15px;background-color:#128c7e;padding-top:10px">
    <b-button block class="action-btn">Support Center </b-button>
    <b-button block class="action-btn">Repair Center </b-button>
    <b-button block class="action-btn">Support Center Paid</b-button>
  </div>
</template>
<script>
export default {
  name: "SideAction",
};
</script>
<style scoped>
  .action-btn {
    display: block;
    margin-bottom: 10px;
    background-color: white;
    color: black;
  }
</style>