<template>
  <header class="shadow-sm">
    <b-row class="bg-white px-3 py-2">
      <b-col>
        <div class="text-muted" style="font-size:0.8rem; letter-spacing: 0.5px;">Your query</div>
        <div class>How to fix Samsung A20</div>
      </b-col>
      <b-col>
        <div class="float-right">
          <ul class="list-inline" style="position:relative;top:12px">
            <li class="list-inline-item">1 response</li>
            <li class="list-inline-item">0 replies</li>
            <li class="list-inline-item">Mark as resolved</li>
          </ul>
        </div>
      </b-col>
    </b-row>
  </header>
</template>

<script>
import IconDefaultUser from "../Icon/IconDefaultUser";
import IconSearchAlt from "../Icon/IconSearchAlt";
import IconClip from "../Icon/IconClip";
import IconMenu from "../Icon/IconMenu";

export default {
  name: "MainPanelHeader",
  components: {
    IconMenu,
    IconClip,
    IconSearchAlt,
    IconDefaultUser,
  },
  props: ["activeChat"],
};
</script>

<style scoped>
</style>
