<template>
    <div id="appx">
        <div class="appPraInside">
            <MediaPreview v-if="activePreview" :text="previewParam" @closePreview="closePreview"/>
            <div v-else tabindex="-1" class="app h70RQ two">
                <SidePanel :listChats="listChats" :activeChat="activeChat" @setActiveChat="setActiveChat"></SidePanel>
                <MainPanel :activeChat="activeChat" :messages="messages" @modalImage="modalImage"></MainPanel>
            </div>
        </div>
    </div>
</template>

<script>
    import SidePanel from './SidePanel/SidePanel.vue'
    import MainPanel from './MainPanel/MainPanel.vue'
    import data from '../models/dummy.json'
    import MediaPreview from "./MediaPreview";

    export default {
        name: 'App',
        data: () => ({
            listChats: data.listChats,
            messages: data.messages.data,
            activeChat: '',
            activePreview: false,
            previewParam: null
        }),
        components: {
            MediaPreview,
            SidePanel,
            MainPanel
        }, methods: {
            setActiveChat: function (listChat) {
                this.activeChat = listChat
            },
            modalImage: function (message) {
                /*this.$modal.show(ModalImage, {
                    text: message
                }, {
                    height: 'auto',
                    width: '90%',
                    name: name,
                    resizable: true,
                    draggable: true,
                    scrollable: true
                })*/
                this.previewParam = message
                this.activePreview = true
                console.log(message)
            },
            closePreview: function () {
                this.activePreview = false
            }
        }
    }
</script>