html, body {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial, "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
    background: beige;
}

#appx {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.appPraInside {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

@media screen and (min-width: 1441px) {
    .appPraInside::after {
        background-color: #009688;
        content: '';
        height: 127px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}


.h70RQ {
    -webkit-animation: slide-in-bck-center .7s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-bck-center .7s cubic-bezier(.25, .46, .45, .94) both;
    background-position: top left;
    left: 0;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    transform-origin: center;
    display: flex;
    height: 100%;
    border-radius: 17px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    outline: none;
}

@media screen and (min-width: 1441px) {
    .h70RQ {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        margin: 0 100px;
        height: calc(100% - 38px);
        top: 19px;
        width: 1396px;
    }
}

._1ecJY {
    margin-top: -1px;
}

._21sW0 {
    outline: none;
    position: relative;
    overflow: hidden;
    -webkit-animation: slide-in-bck-center .7s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-bck-center .7s cubic-bezier(.25, .46, .45, .94) both
}

.B5rWa {
    background-color: #fff;
}

.B5rWa {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    z-index: 1;
}

._1vDUw {
    position: relative;
}

.YD4Yw {
    left: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}

@media screen and (min-width: 1301px) {
    .two ._1xXdX {
        flex: 30%;
    }
}

._1-iDe {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.YD4Yw ._1-iDe.Wu52Z {
    margin-top: 59px;
    height: calc(100% - 59px);
    transform-origin: left top;
}

.Wu52Z {
}

._1-iDe {
    transform: translateZ(0);
}

@media screen and (min-width: 1301px) {
    .two .Wu52Z {
        flex: 70%;
    }
}


._1-iDe {
    height: 100%;
    overflow: hidden;
    position: relative;
}


._1FTCC {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.m6ZEb {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

._1WliW {
    border-radius: 50%;
    background-color: #e6e6e6;
    position: relative;
    overflow: hidden;
}

.Qgzj8.gqwaM {
    opacity: 1;
}

.Qgzj8 {
    border-radius: 50%;
    display: block;
    opacity: 0;
    position: relative;
    transition: opacity 150ms ease-out;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}

._3FXB1 {
    visibility: visible;
}

._20NlL {
    flex: none;
}

.ba6sz {
    color: #ffffff;
}

._3Kxus {
    display: flex;
    align-items: center;
}

._3Kxus > span {
    display: flex;
    align-items: center;
}

.rAUz7:first-of-type {
    margin-left: 0;
}

.rAUz7 {
    margin-left: 10px;
    border-radius: 50%;
    /* padding: 8px; */
    flex: none;
    height: 24px;
    position: relative;
    transition: background-color 0.3s ease;
}

.m6ZEb {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

/*seacrh side contact*/

._1f1zm {
    background-color: #ebebeb !important;
}

.rRAIq {
    background-color: #f7f7f7;
    flex: none;
}

.gQzdc {
    background-color: rgb(18, 140, 126);
    box-sizing: border-box;
    flex: none;
    height: 49px;
    position: relative;
    transition: box-shadow 0.18s ease-out, background-color 0.25s ease-out;
    z-index: 100;
}

button {
    outline: none;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

.C28xL {
    left: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    width: 24px;
    z-index: 100;
}

.C28xL ._1BC4w {
    transform: scale(1) rotate(360deg);
}

.C28xL ._1M3wR {
    left: 0;
}

.C28xL ._1BC4w {
    opacity: 1;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.C28xL ._1M3wR {
    top: 0;
}

._1BC4w {
    color: #33b7f6;
}

._3sdhb .C28xL ._3M2St {
    transform: rotate(135deg);
}


._3sdhb .C28xL ._3M2St {
    opacity: 0;
    transition: all 0.24s cubic-bezier(0.4, 0, 0.2, 1) 0.06s;
}

.C28xL ._3M2St {
    transition: all 0.24s cubic-bezier(0.4, 0, 0.2, 1);
}

._3M2St {
    color: rgba(0, 0, 0, 0.3);
}

._3Burg {
    right: 15px;
}

._3Burg {
    color: rgba(0, 0, 0, 0.3);
    top: 12px;
}

._1M3wR, ._3Burg, ._1lTg8, ._2xarx {
    position: absolute;
    z-index: 100;
}

._1pCYj, ._2cLHw {
    left: 77px;
    right: 24px;
}

.os-mac ._1pCYj, .os-mac ._2cLHw {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._1pCYj, ._2cLHw {
    color: #999;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 13px;
    transition: opacity 0.14s linear;
    white-space: nowrap;
    z-index: 100;
}

._2MSJr {
    left: 12px;
    padding-left: 65px;
    padding-right: 32px;
    right: 14px;
}

._2MSJr {
    background-color: #fff;
    border-radius: 18px;
}

._2MSJr {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 35px;
    position: absolute;
    top: 5px;
}

._3F6QL {
    cursor: text;
}

._3F6QL {
    padding-right: 0px;
}

._3F6QL {
    position: relative;
    flex: 1;
    display: flex;
    overflow: hidden;
}

._3F6QL ._39LWd {
    left: 2px;
}

._3F6QL ._39LWd {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._3F6QL ._39LWd {
    color: #999;
    font-size: 15px;
    line-height: 20px;
    pointer-events: none;
    position: absolute;
    top: 6px;
    transition: opacity .08s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
}

._3F6QL ._2S1VP {
    padding: 0;
}

._3F6QL._3xlwb ._2S1VP {
    font-size: 15px;
    outline: none;
}

._3F6QL ._2S1VP {
    color: #4a4a4a;
    font-size: 17px;
    line-height: 20px;
    min-height: 20px;
    position: relative;
    width: 100%;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*emoji*/


.emoji-invoker {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    color: var(--icon);
}

.emoji-invoker:hover {
    transform: scale(1.1);
}

.emoji-invoker > svg {
    fill: #b1c6d0;
}

.emoji-picker {
    top: 45px !important;
    left: 0 !important;
    position: absolute;
    z-index: 999;
    font-family: Montserrat;
    border: 1px solid #ccc;
    width: 15rem;
    height: 20rem;
    overflow: scroll;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 1px 1px 8px #c7dbe6;
}

.emoji-picker__search {
    display: flex;
}

.emoji-picker__search > input {
    flex: 1;
    border-radius: 10rem;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    outline: none;
}

.emoji-picker h5 {
    margin-bottom: 0;
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: default;
}

.emoji-picker .emojis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.emoji-picker .emojis:after {
    content: "";
    flex: auto;
}

.emoji-picker .emojis span {
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.emoji-picker .emojis span:hover {
    background: #ececec;
    cursor: pointer;
}


/* chats*/

._2EXPL {
    background-color: #fff;
    cursor: pointer;
}

._2EXPL {
    display: flex;
    flex-direction: row;
    height: 72px;
    pointer-events: all;
    position: relative;
}

.dIyEr {
    padding: 0 15px 0 13px;
}

.dIyEr {
    margin-top: -1px;
}

.dIyEr {
    flex: none;
    display: flex;
    align-items: center;
}

._1WliW {
    border-radius: 50%;
    background-color: #e6e6e6;
}

._1WliW {
    position: relative;
    overflow: hidden;
}

._3j7s9 {
    padding-right: 15px;
}

._3j7s9 {
    border-top: 1px solid #f2f2f2;
}

._3j7s9 {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html[dir=ltr] ._2FBdJ {
    text-align: left;
}

._2FBdJ {
    align-items: center;
    line-height: normal;
    display: flex;
}

html[dir=ltr] ._25Ooe {
    text-align: left;
}

.CxUIE ._25Ooe {
    font-weight: 500;
}

.os-mac ._25Ooe {
    font-size: 16px;
}

._25Ooe {
    color: #000;
    display: flex;
    flex-grow: 1;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    overflow: hidden;
}

._3TEwt {
    display: inherit;
    white-space: inherit;
    text-overflow: inherit;
    overflow: inherit;
}

._3NFp9 {
    display: inline-block;
}

._1wjpf {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._3FXB1 {
    visibility: visible;
}

html[dir=ltr] ._1yct0 {
    margin-left: 8px;
}

._1yct0 {
    align-items: flex-end;
    display: inline-flex;
    height: 17px;
    vertical-align: top;
}

._2FBdJ ._3Bxar {
    margin-top: 3px;
}

._3Bxar {
    margin-left: 6px;
}

.CxUIE ._3Bxar {
    color: rgba(0, 0, 0, 0.8);
}

._2FBdJ ._3Bxar {
    line-height: 14px;
}

._3Bxar {
    color: rgba(0, 0, 0, 0.45);
    flex: none;
    font-size: 12px;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2EXPL.CxUIE ._1AwDx {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}

html[dir] ._1AwDx {
    margin-top: 2px;
}

._1AwDx {
    align-items: center;
    color: var(--secondary);
    display: flex;
    font-size: 13px;
    line-height: 20px;
    min-height: 20px;
}

._itDl {
    text-align: left;
}

._itDl {
    background-color: transparent;
}

.CxUIE ._itDl {
    font-weight: 500;
}

._itDl {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

._2_LEW {
    display: flex;
    align-items: flex-start;
}

._1AwDx ._3Bxar {
    margin-right: -1px;
    padding-right: 1px;
}

._3Bxar {
    margin-left: 6px;
}

.CxUIE ._3Bxar {
    color: rgba(208, 106, 106, 0.8);
}

._3Bxar {
    color: rgba(0, 0, 0, 0.45);
    flex: none;
    font-size: 12px;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._15G96 {
    margin-right: 5px;
}

._15G96:last-child {
    margin-right: 0;
}

._15G96 {
    margin-right: 5px;
}

._15G96 {
    color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    vertical-align: top;
}

{
    color: rgba(var(--icon-lighter-rgb), 0.24)
;
}

._15G96 {
    color: var(--icon-lighter);
    display: inline-block;
    vertical-align: top;
}


/*main panel*/

.Wu52Z {
    transform-origin: left top;
}

._1-iDe {
    transform: translateZ(0);
}

@media screen and (min-width: 1301px) {
    .two .Wu52Z {
        flex: 70%;
    }
}


._1-iDe {
    height: 100%;
    overflow: hidden;
    position: relative;
}

._1GX8_ {
    transform-origin: left top;
}

._1GX8_ {
    background-color: #e5ddd5;
}

._1GX8_ {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html[dir=ltr] .YUoyu {
    left: 0;
}

html[dir] .YUoyu {
    background-repeat: repeat;
}

.YUoyu {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.06;
}

@media screen and (min-width: 1301px) {
    ._2y17h {
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }
}


._2y17h {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

._2y17h {
    background-color: #ededed;
    padding: 10px 16px;
}

._2y17h {
    display: flex;
    box-sizing: border-box;
    height: 59px;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1000;
}

._3mKlI {
    padding: 0 15px 0 0;
}

._3mKlI {
    margin-top: -1px;
}

._3mKlI {
    flex: none;
}

[role='button'] {
    cursor: pointer;
}

._1WliW {
    border-radius: 50%;
    background-color: #e6e6e6;
}

._1WliW {
    position: relative;
    overflow: hidden;
}

._5SiUq {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._16vzP {
    text-align: left;
}

._16vzP {
    margin-top: -1px;
}

._16vzP {
    display: flex;
    line-height: normal;
    align-items: flex-start;
}

._3XrHh {
    text-align: left;
}

._3XrHh {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    display: flex;
    flex-grow: 1;
}

._3NFp9 {
    display: inline-block;
}

._1wjpf {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._3FXB1 {
    visibility: visible;
}

.Gd51Q._3sgkv {
    color: var(--secondary);
    font-size: 13px;
    line-height: 20px;
    min-height: 20px;
}

._3sgkv {
    display: flex;
    align-items: flex-start;
}

.O90ur {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
}

._3FXB1 {
    visibility: visible;
}


/* main panel messages*/

._3zJZ2 {
    flex: 1 1 0;
    order: 2;
    position: relative;
    z-index: 1;
}

.V42si {
    visibility: visible;
}

.copyable-area {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

._2nmDZ {
    border-left: 1px solid rgba(0, 0, 0, 0.03);
    left: 0;
}

._2nmDZ {
    background-color: transparent;
}

._2nmDZ {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    transition: background 0.3s ease-out 0.1s;
    width: 100%;
    z-index: 100;
}

.wml2- {
    flex: 1 1 auto;
    min-height: 12px;
}

._9tCEa {
    transition: padding-left 0.3s cubic-bezier(0.69, 0, 0.79, 0.14);
    padding-left: 0;
    outline: none;
}

._9tCEa {
    padding-bottom: 8px;
}

._9tCEa {
    flex: 0 0 auto;
}

.vW7d1 {
    padding-left: 9%;
    padding-right: 9%;
}

.vW7d1 {
    margin-bottom: 12px;
}

._3rjxZ {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vW7d1 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.vW7d1 {
    padding-left: 9%;
    padding-right: 9%;
}

.vW7d1 {
    margin-bottom: 12px;
}

._3rjxZ {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vW7d1 {
    display: flex;
    flex-direction: column;
    position: relative;
}


._2F4Rh {
    padding: 3px;
}

._2F4Rh {
    box-sizing: border-box;
    max-width: 336px;
    position: relative;
    z-index: 1;
}

.gDOmN {
    border-radius: 6px;
    cursor: pointer;
}

.gDOmN {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
}

._1YbLB {
    flex: none;
    -webkit-transition: -webkit-filter 0.16s linear;
}

/*message-in*/
.message-in {
    align-items: flex-start;
}


._3_7SH:last-of-type {
    margin-bottom: 0;
}

._3_7SH {
    border-radius: 7.5px;
}

@media screen and (min-width: 1301px) {
    ._3DFk6 {
        max-width: 65%;
    }
}

._3_7SH {
    color: #303030;
    flex: none;
    font-size: 14.2px;
    line-height: 19px;
    position: relative;
}

.message-in ._1JfxZ, .tail-override-left ._1JfxZ {
    left: -8px;
}

.message-in ._1JfxZ {
    color: #fff;
}

._1JfxZ {
    display: block;
    height: 13px;
    position: absolute;
    top: 0;
    width: 8px;
}


svg {
    display: block;
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

.message-in ._1JfxZ {
    color: #fff;
}

.message-in ._2wOlC .MVjBr {
    border-top-left-radius: 0px;
}

.message-in .MVjBr {
    background-color: #fff;
}

._3e2jK {
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.MVjBr {
    border-radius: 7.5px;
}

.Tkt2p {
    padding: 6px 7px 8px 9px;
}

.Tkt2p {
    box-sizing: border-box;
}

._3zb-j {
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
}

._3FXB1 {
    visibility: visible;
}

.ZhF0n {
    width: 55px;
}

.ZhF0n {
    display: inline-block;
    vertical-align: middle;
    width: 54px;
}

._2f-RV {
    float: right;
    margin: -10px 0 -5px 4px;
}

._2f-RV {
    position: relative;
    z-index: 10;
}

._2hrew {
    line-height: 17px;
}

._1DZAH {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
}

._3EFt_ {
    display: inline-block;
    vertical-align: top;
}

._1uFFm {
    right: 8px;
}

._1uFFm {
    position: absolute;
    bottom: 6px;
    z-index: 2;
}

._2Pjvv {
    color: rgba(var(--inverse-rgb), 0.9);
}

._2hrew {
    line-height: 17px;
}

._1DZAH {
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
}

/* message-out */
.message-out {
    align-items: flex-end;
}

.message-out ._1JfxZ, .tail-override-right ._1JfxZ {
    right: -8px;
}

.message-out ._1JfxZ {
    color: #dcf8c6;
}

.message-out ._2wOlC .MVjBr {
    border-top-right-radius: 0px;
}

.message-out .MVjBr {
    background-color: #dcf8c6;
}

._3e2jK {
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.MVjBr {
    border-radius: 7.5px;
}

.Tkt2p {
    padding: 6px 7px 8px 9px;
}

.Tkt2p {
    box-sizing: border-box;
}

._2f-RV {
    float: right;
    margin: -10px 0 -5px 4px;
}

._2f-RV {
    position: relative;
    z-index: 10;
}

._2hrew {
    line-height: 17px;
}

._1DZAH {
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
}

._3EFt_ {
    display: inline-block;
    vertical-align: top;
}

.jdhpF {
    margin-left: 3px;
}

.jdhpF {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
}

._209Po {
    color: rgba(0, 0, 0, 0.3);
}

._1xtH9 {
    color: #4fc3f7;
}

/*footer mianpanel*/

._2tW_W {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

._2tW_W {
    min-height: 62px;
    order: 3;
    position: relative;
    flex: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

._3pkkz {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

._3pkkz {
    background-color: #f0f0f0;
    padding: 5px 10px;
}

._3pkkz {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 62px;
    position: relative;
    z-index: 2;
}

.weEq5 {
    padding: 5px 10px;
}

.weEq5 {
    box-sizing: border-box;
    flex: none;
    min-height: 52px;
}

.mYCYF {
    display: flex;
    position: relative;
    height: 42px;
    width: 26px;
    transition: width 0.3s;
}

.V42si {
    visibility: visible;
}

._1x_c3 {
    border-radius: 2px;
    transform: translate3d(0, 0, 0);
}

._35Ob4 {
    transform: translate3d(100, 0, 0);
}


._1x_c3 {
    color: #919191;
    position: absolute;
    width: 26px;
    bottom: 8px;
    display: block;
}

._12JTM {
    opacity: 0;
}

._35Ob4 {
    transition: transform 0.3s, opacity 0.3s;
}


/*keti pesan*/
._1Plpp {
    background-color: #fff;
    border-color: #fff;
    border-radius: 21px;
    border-style: solid;
    border-width: 1px;
    padding: 9px 12px 11px 12px;
    margin: 5px 10px;
}

._1Plpp {
    box-sizing: border-box;
    flex: 1 1 auto;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    min-height: 20px;
    min-width: 0;
    outline: none;
    width: inherit;
    will-change: width;
}

._3F6QL {
    cursor: text;
}

._3F6QL {
    padding-right: 0px;
}

._3F6QL {
    position: relative;
    flex: 1;
    display: flex;
    overflow: hidden;
}

._3F6QL ._39LWd {
    left: 2px;
}

._3F6QL._2WovP ._39LWd {
    top: 0;
}

.os-mac ._3F6QL ._39LWd {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._3F6QL._2WovP ._2S1VP {
    padding-right: 2px;
}

._3F6QL ._2S1VP {
    padding: 0;
}

._3F6QL._2WovP ._2S1VP {
    font-size: 15px;
    font-weight: normal;
    max-height: 100px;
    min-height: 20px;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
}

/*send*/

.weEq5 {
    padding: 5px 10px;
}

.weEq5 {
    box-sizing: border-box;
    flex: none;
    min-height: 52px;
}

._35EW6 {
    margin-top: 9px;
}

._35EW6 {
    flex: 0 0 auto;
    opacity: 0.9;
    color: #919191;
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000)
}


/* preload before active*/

._2zynu {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

._2zynu {
    background-color: #f8f9fa;
    cursor: default;
    padding-bottom: 28px;
    padding-top: 28px;
}

._2zynu {
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1;
    justify-content: center;
    position: absolute;
    z-index: 1;
    display: flex;
    height: 100%;
    width: 100%;
}

._2IVU3 {
    text-align: center;
    margin-top: -20px;
}

._2IVU3 {
    max-width: 460px;
    width: 80%;
}

._2LKlu {
    margin: 0 auto;
    transform-origin: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

[data-asset-intro-image] {
    background-image: url('../../assets/img/intro-connection.jpg');
}

._2LKlu {
    width: 356px;
    height: 355px;
    opacity: 0;
    transition: height 0.3s ease;
    overflow: hidden;
}

.P8cO8 {
    margin-top: 38px;
}

.P8cO8 {
    color: #525252;
    font-size: 36px;
    font-weight: 300;
}

.dPZky {
    margin-top: 24px;
}

.dPZky {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 20px;
}

._3McX8 {
    margin-top: 34px;
}

._1TgXb {
    margin-bottom: 34px;
    background-color: rgba(0, 0, 0, 0.45);
}

._1TgXb {
    height: 1px;
}

._2g-bt {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 20px;
    display: inline-flex;
    align-items: center;
}

._1XccF {
    margin-top: 1px;
}

._1XccF {
    color: #919191;
}

._23q2r {
    margin-left: 5px;
}

._23q2r {
    text-align: unset;
}

._2zynu a {
    color: #07bc4c;
}

a {
    text-decoration: none;
    color: #039BE5;
}


/* media preview*/


._2vPAk {
    left: 0;
    right: 0;
}

._2vPAk {
    bottom: 0;
    position: absolute;
    top: 0;
}

.JWJN5 {
    background-color: var(--media-viewer-background);
    padding-bottom: 100px;
}

.overlay {
    left: 0;
}

.JWJN5 {
    display: flex;
    flex-direction: column;
    z-index: 500;
}

.overlay {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

._3pRd1 {
    background-color: var(--media-viewer-background);
}

._3pRd1 {
    flex: none;
    height: 60px;
    transition: visibility 300ms, opacity 300ms cubic-bezier(0.1, 0.82, 0.25, 1);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

._20PqB {
    margin-left: 5px;
    margin-right: 15px;
}

._20PqB {
    flex: 1 1 auto;
    order: 2;
    overflow: hidden;
}

._2EXPL {
    background-color: var(--background-default);
    cursor: pointer;
}

._2EXPL.ts7je {
    height: 60px;
}

._2EXPL {
    display: flex;
    flex-direction: row;
    height: 72px;
    pointer-events: all;
    position: relative;
}

.dIyEr {
    padding: 0 15px 0 13px;
}

.dIyEr {
    margin-top: -1px;
}

.dIyEr {
    flex: none;
    display: flex;
    align-items: center;
}

._1WliW {
    border-radius: 50%;
    background-color: var(--avatar-background);
}

._1WliW {
    position: relative;
    overflow: hidden;
}

.Qgzj8 {
    border-radius: 50%;
}

.Qgzj8.gqwaM {
    opacity: 1;
}

.Qgzj8 {
    display: block;
    opacity: 0;
    position: relative;
    transition: opacity 150ms ease-out;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}

._3ZW2E {
    left: 0;
}

._3ZW2E {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

._2EXPL.ts7je ._3j7s9 {
    border-top: none;
}

html[dir=ltr] ._3j7s9 {
    padding-right: 15px;
}

html[dir] ._3j7s9 {
    border-top: 1px solid var(--border-list);
}

._3j7s9 {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._2FBdJ {
    text-align: left;
}

._2FBdJ {
    align-items: center;
    line-height: normal;
    display: flex;
}

._2EXPL.ts7je ._25Ooe {
    color: var(--primary-stronger);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

._25Ooe {
    text-align: left;
}

._25Ooe {
    font-size: 16px;
}

._25Ooe {
    color: var(--primary-strong);
    display: flex;
    flex-grow: 1;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    overflow: hidden;
}

._1wjpf {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._3FXB1 {
    visibility: visible;
}

._1AwDx {
    margin-top: 2px;
}

._1AwDx {
    align-items: center;
    color: var(--secondary);
    display: flex;
    font-size: 13px;
    line-height: 20px;
    min-height: 20px;
}

._2EXPL.ts7je ._itDl {
    font-size: 13px;
}

._itDl {
    text-align: left;
}

._itDl {
    background-color: transparent;
}

._itDl {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

._1_wiy {
    margin-right: 18px;
}

._1_wiy {
    order: 1;
}

._30525 {
    color: var(--icon-strong);
}

._3Kxus {
    display: flex;
    align-items: center;
}

._3vXNW {
    padding: 10px 0 15px 0;
}

._3vXNW {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 60px);
    box-sizing: border-box;
}

._1cVDK {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

.IuYNx {
    left: 0;
}

._2gmeM {
    overflow: visible;
}

._3E6Ha {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

._1V8K0 {
    position: relative;
}

.IuYNx {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
}

.rN9sv {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

_2-V0A {
    cursor: zoom-in;
}

.rN9sv {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
